<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form method="post" action="/aliments/"
            <label for="food_name">Name</label>
            <input type="text" name="food_name" id="food_name" v-model="food.name">
            <label for="food_details">Details</label>
            <input type="text" name="food_details" id="food_details" v-model="food.details">
            <label for="food_gi">Glycemic Index</label>
            <input type="text" name="food_gi" id="food_gi" v-model="food.gi">
            <label for="food_carbs">Carbs(%)</label>
            <input type="text" name="food_carbs" id="food_carbs" v-model="food.carbs">
            <label for="food_gl">Glycemic Load</label>
            <input type="text" name="food_gl" id="food_gl" v-model="food.gl">
            <label for="food_serving">Serving</label>
            <input type="text" name="food_serving" id="food_serving" v-model="food.serving">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>